<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="dep/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="dep/Font-Awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body lang="en">
    <section id="main">
      <header id="title">
        h1= info.name
        if info.subtitle
          span.subtitle= info.subtitle
      </header>
      block content
    </section>
    <aside id="sidebar">
      <div class="side-block" id="contact">
        <h1>
          Contact Info
        </h1>
        <ul>
          if info.site
            li #[i.fa.fa-globe] #{info.site}

          if info.linkedin
            li #[i.fa.fa-linkedin] #{info.linkedin}

          if info.email
            li #[i.fa.fa-envelope] #{info.email}

          if info.phone
            li #[i.fa.fa-phone] #{info.phone}
        </ul>
      </div>
      if info.skills
        #skills.side-block
          h1 Skills
          ul
            each skill in info.skills
              li= skill
      <div class="side-block" id="disclaimer"></div>
    </aside>
  </body>
</html>
